<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
         <!--Navbar-->
    <% include partials/nav.ejs %>
    <h1>Pagina di contatti</h1>
    <p>testo testo testo testo testo contatti contatti contatti</p>

    <p>Grazie per aver inserito i tuoi dati.</p>
    <p>Il tuo nome è <%=data.firstname %></p>
    <p>Il tuo cognome è <%=data.lastname %></p>
    </body>
</html>