<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home di prova</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="/assets/styles.css" rel="stylesheet" type="text/css">
   
    </head>
    <body>
        <!--Navbar-->
    <% include partials/nav.ejs %>
    <h1>Pagina di contatti</h1>
    <p>testo testo testo testo testo contatti contatti contatti</p>


        <form id="contact-form" method="POST" action="/contact">
            First name:<br>
            <input type="text" name="firstname">
            <br>
            Last name:<br>
            <input type="text" name="lastname">
            <br><br>
            <input type="submit">
        </form>

    </body>
</html>