  body{
    background: skyblue;
    font-family: serif;
    color : #fff;
}

h1{
    font-size: 48;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

p{
    font-size: 16px;
    text-align: center;
}