<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home di prova</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="/assets/styles.css" rel="stylesheet" type="text/css">
   
    </head>
    <body>
        <!--Navbar-->
    <% include partials/nav.ejs %>
    <h1>Pagina di contatti</h1>
    <p>testo testo testo testo testo contatti contatti contatti</p>

<!-- provare con : http://localhost:3000/contact?dept=amministrazione-->
<p><%=qs.dept%></p>

    </body>
</html>